*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat";
    src:
        local("Montserrat"),
        url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

html {
    background-color: #191a1c;
    color: #d4d4d4;
}

body {
    margin: 0;
    color: #d4d4d4;
    font-family: "Montserrat", sans-serif;
}

#app {
    height: 100vh;
}
